---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "This is a page about ME, ME!";
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
  "Crushing it",
];
const skillColour = "teal";
const finished = true;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I'm learning</h2>
  <p>
    I'm a frontend developer used to building SPAs with React and wanting to
    expand my range
  </p>
  <p>My skills are:</p>
  <ul>
    {skills.map(skill => <li class="skill">{skill}</li>)}
  </ul>
  <style define:vars={{ skillColour }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      color: var(--skillColour);
      font-weight: bold;
    }
  </style>
</BaseLayout>
